.wrapper {
	width: 75%;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	margin: 0 auto;
	
}
body {
	background: radial-gradient(red, blue);
}
h1 {
	color: black;
}
p {
	font-size: 20px;
}
img {
	width: 50%;
	display: block;
	outline: solid 5px black;
	margin: 0 auto;
}
li {
	font-size: 20px;
	padding: 5px;
	margin: 5px;
}
footer {
	width: 45%;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 auto;
	border-radius: 25px;
}
a:link, a:visited {
	text-decoration: none;
	color: blue;
	padding: 5px;
	outline: 1px blue solid;
}
a:hover, a:active {
	text-decoration: none;
	color: blue;
	background: orange;
	padding: 5px;
}

.profile {
	width: 50%;
	display: block;
	outline: solid 5px black;
}
.updated {
	font-style: italic;
}
